ecolect-dweet.json
[{"id":"4aea942e.933e5c","type":"ecolect","z":"2892be88.620422","name":"Thermostat Control","topics":[{"name":"control","phrases":"turn {state} {room} thermostat\nturn {room} thermostat {state}\nset {room} temperature to {temperature}\nchange {room} temperature to {temperature}\nset {room} to {temperature}\nchange {room} to {temperature}\nset {room} temp to {temperature}\nchange {room} temp to {temperature}\nset house thermostats to {hvacmode}\nchange house thermostats to {hvacmode}\nturn {state} all thermostats\n{whereabout}\n","values":[{"name":"room","type":"enumeration","enumerations":["bedroom","kitchen","living room","house"]},{"name":"whereabout","type":"enumeration","enumerations":["stay","away"]},{"name":"hvacmode","type":"enumeration","enumerations":["heating","cooling"]},{"name":"temperature","type":"integer","enumerations":[]},{"name":"state","type":"enumeration","enumerations":["off","on"]}]},{"name":"query","phrases":"tell me the state of the {room}\nwhat is the state of the {room}?","values":[{"name":"room","type":"enumeration","enumerations":["bedroom","kitchen","living room","house"]},{"name":"state","type":"enumeration","enumerations":["off","on"]},{"name":"temperature","type":"number","enumerations":[]}]}],"outputs":3,"x":528.0000610351562,"y":333,"wires":[["96647cf5.5bdee"],["96647cf5.5bdee"],["b308a1a6.b9b2d"]]},{"id":"d4da48b8.36ba88","type":"inject","z":"2892be88.620422","name":"turn {state} {room} thermostat","topic":"","payload":"turn off bedroom thermostat","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":156.00003051757812,"y":218,"wires":[["106be4f4.5cfc4b"]]},{"id":"e0e484cc.bb7758","type":"inject","z":"2892be88.620422","name":"turn {room} thermostat {state}","topic":"","payload":"turn kitchen thermostat on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":155.00003051757812,"y":254.9999942779541,"wires":[["106be4f4.5cfc4b"]]},{"id":"e013ebe6.bfa308","type":"function","z":"2892be88.620422","name":"Topic : control vs query","func":"msg.payload = msg.topic;\nmsg.type = 'topic';\nnode.status({fill:\"blue\",shape:\"ring\",text:\"Value: \"+msg.topic});\nreturn msg;","outputs":1,"noerr":0,"x":811.0000610351562,"y":88,"wires":[["a2a3a7ad.8a1018"]]},{"id":"d600c5de.c2f008","type":"function","z":"2892be88.620422","name":"Room : bedroom, kitchen, living room","func":"var value = msg.values.room;\nmsg.type = 'room';\nif (value===undefined) {\n    node.status({fill:\"red\",shape:\"ring\",text:\"No value\"});\n    msg.payload = \"undefined\";\n} else {\n    node.status({fill:\"blue\",shape:\"ring\",text:\"Value: \"+value});\n    msg.payload = value;\n}\nreturn msg;","outputs":1,"noerr":0,"x":863.0000610351562,"y":149,"wires":[["a2a3a7ad.8a1018"]]},{"id":"6a3ddb0a.d4fcf4","type":"function","z":"2892be88.620422","name":"HVAC : cooling, heating","func":"var value = msg.values.hvacmode;\n\nif (value===undefined) {\n    node.status({fill:\"red\",shape:\"ring\",text:\"No value\"});\n    msg.payload = \"undefined\";\n} else {\n    node.status({fill:\"blue\",shape:\"ring\",text:\"Value: \"+value});\n    msg.payload = value;\n}\nmsg.type = 'hvacmode';\nreturn msg;","outputs":1,"noerr":0,"x":824.0000610351562,"y":205,"wires":[["a2a3a7ad.8a1018"]]},{"id":"106be4f4.5cfc4b","type":"function","z":"2892be88.620422","name":"Forwarding","func":"\nreturn msg;","outputs":1,"noerr":0,"x":492.5,"y":453,"wires":[["4aea942e.933e5c"]]},{"id":"98109fdf.6279e","type":"inject","z":"2892be88.620422","name":"set {room} temperature to {temperature}","topic":"","payload":"set living room temperature to 78","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":184.00003051757812,"y":293.0000009536743,"wires":[["106be4f4.5cfc4b"]]},{"id":"38162c5d.30bf34","type":"function","z":"2892be88.620422","name":"Temperature (Target)","func":"var value = msg.values.temperature;\nif (value===undefined) {\n    node.status({fill:\"red\",shape:\"ring\",text:\"No value\"});\n    msg.payload = \"undefined\";\n} else {\n    node.status({fill:\"blue\",shape:\"ring\",text:\"Value: \"+value.value});\n    msg.payload = value.value;\n}\nmsg.type = 'temperature';\nreturn msg;","outputs":1,"noerr":0,"x":822.0000610351562,"y":262,"wires":[["a2a3a7ad.8a1018"]]},{"id":"3016d2a0.04119e","type":"function","z":"2892be88.620422","name":"Away","func":"var value = msg.values.whereabout;\nif (value===undefined) {\n    node.status({fill:\"red\",shape:\"ring\",text:\"No value\"});\n    msg.payload = \"undefined\";\n} else {\n    node.status({fill:\"blue\",shape:\"ring\",text:\"Value: \"+value});\n    msg.payload = value;\n}\nmsg.type = 'whereabout';\nreturn msg;","outputs":1,"noerr":0,"x":770.0000610351562,"y":320,"wires":[["a2a3a7ad.8a1018"]]},{"id":"9aea0ea9.76ea1","type":"function","z":"2892be88.620422","name":"State : off, on","func":"var value = msg.values.state;\n\nif (value===undefined) {\n    node.status({fill:\"red\",shape:\"ring\",text:\"No value\"});\n    msg.payload = \"undefined\";\n} else {\n    node.status({fill:\"blue\",shape:\"ring\",text:\"Value: \"+value});\n    msg.payload = value;\n}\nmsg.type = 'state';\nreturn msg;","outputs":1,"noerr":0,"x":793.0000610351562,"y":377,"wires":[["a2a3a7ad.8a1018"]]},{"id":"cedb1ebd.4d1aa","type":"inject","z":"2892be88.620422","name":"change {room} to {temperature}","topic":"","payload":"change bedroom  to 78","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":164.00003051757812,"y":332.00000190734863,"wires":[["106be4f4.5cfc4b"]]},{"id":"96647cf5.5bdee","type":"function","z":"2892be88.620422","name":"Forwarding","func":"\nreturn msg;","outputs":1,"noerr":0,"x":591.0000610351562,"y":213,"wires":[["e013ebe6.bfa308","d600c5de.c2f008","6a3ddb0a.d4fcf4","38162c5d.30bf34","3016d2a0.04119e","9aea0ea9.76ea1"]]},{"id":"b308a1a6.b9b2d","type":"function","z":"2892be88.620422","name":"Unrecognized commands","func":"// Get the previously stored commands\nvar temp = context.get(\"commands\");\nif (temp===undefined) {\n    temp = [];\n}\n\nif (msg.topic===\"--ClearList--\") {\n    // Clear the current list\n    temp = [];\n} else {\n    // Add the new one \n    temp.push(msg.payload);\n}\ncontext.set(\"commands\",temp);\n\n\n//Format the output\nmsg.payload = \"\";\nfor (var i=0; i<temp.length; i++) {\n    msg.payload += temp[i] + \"<br/>\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":844,"y":671.0000610351562,"wires":[["bc4da293.65213","33c13e32.f4ad72"]]},{"id":"bc4da293.65213","type":"debug","z":"2892be88.620422","name":"unrecognized message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1146.484375,"y":695.7777709960938,"wires":[]},{"id":"3b828da0.6343c2","type":"inject","z":"2892be88.620422","name":"set house thermostats to {hvacmode}","topic":"","payload":"set house thermostats to heating","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":184.1666717529297,"y":370.8888854980469,"wires":[["106be4f4.5cfc4b"]]},{"id":"5fcfae.cef64054","type":"inject","z":"2892be88.620422","name":"change house thermostats to {hvacmode}","topic":"","payload":"change house thermostats to  cooling","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":195.1666717529297,"y":407.8888854980469,"wires":[["106be4f4.5cfc4b"]]},{"id":"19446764.349799","type":"comment","z":"2892be88.620422","name":"Home Thermostat Control","info":"","x":766,"y":29.444446563720703,"wires":[]},{"id":"70e85c72.9a3244","type":"websocket out","z":"2892be88.620422","name":"[ws]/control/publish","server":"d53abbe8.b7e5e8","client":"","x":1807.3332443237305,"y":439.2222499847412,"wires":[]},{"id":"a2a3a7ad.8a1018","type":"function","z":"2892be88.620422","name":"Collector","func":"var house = flow.get('house') ||\n    {   \n       room : 'kitchen',\n       hvacmode : 'cooling', // off, heating, cooling\n       state : 'on', // false, true\n       away : false,\n       temperature : [ 75,71,78 ] // kitchen, living, bedroom \n    }\n\nvar controlRes = null;\nvar queryRes = null;\n\nif ( msg.topic === 'control' && msg.payload !== 'undefined') {\n\n    console.log('msg:', msg);\n    switch (msg.type) {\n    \n    case \"room\": \n        house.room = msg.payload;\n        break;\n    case \"state\": \n        house.state = msg.payload;\n        if ( house.state === 'on') house.away = false;\n        if ( house.state === 'off') house.hvacmode = 'off';\n        break;\n    case \"hvacmode\":\n        house.hvacmode = msg.payload;\n        break;\n    case \"temperature\":\n        if ( house.room === 'kitchen')\n           house.temperature[0] = msg.payload;\n        if ( house.room === 'living room')\n            house.temperature[1] = msg.payload;\n        if ( house.room === 'bedroom')\n            house.temperature[2] = msg.payload;\n        break;\n    case \"whereabout\":\n        if ( msg.payload === 'away')  house.away = true;\n        if ( msg.payload === 'stay')  house.away = false;\n        \n        break;\n    default:\n    \tbreak;\n    }    \n    \n    // { room : ? , targetTemp : ? , hvacMode : ? , state : ?, away : ?  } \n    controlRes = {};\n    controlRes.payload = {};\n    controlRes.payload.room = house.room;\n    if ( house.room === 'kitchen') \n        controlRes.payload.targetTemp = house.temperature[0];\n    if ( house.room === 'living room') \n        controlRes.payload.targetTemp = house.temperature[1];\n    if ( house.room === 'bedroom') \n        controlRes.payload.targetTemp = house.temperature[2];\n    controlRes.payload.hvacMode = house.hvacmode;\n    controlRes.payload.away = house.away;\n    \n    console.log('house :', house);\n    console.log('payload:',controlRes);\n    flow.set('house', house);\n} else if ( msg.topic === 'query' && msg.payload !== 'undefined') { /* query */\n  \n  // for dweet example, ignore queryRes. \n  // Just get the last update :  \"GET /get/latest/dweet/for/{thing}\"\n  // {thing} can be a room name instead of \"thermostat\" \n  // can define only one {thing} from dweet.io/play. Therefore \"thermostat\" is used for this demo\n  \n  \n  // room\n  if ( msg.payload === 'living room' ||\n       msg.payload === 'kitchen' ||\n       msg.payload === 'bedroom' \n  ) {\n      \n    var currentTemp = Math.floor(Math.random() * 5) + house.temperature[0] - 3 \n    \n    queryRes = {};\n    queryRes.payload = msg.payload + ' is ';\n    queryRes.payload += house.hvacmode;\n    queryRes.payload += '. It is '+currentTemp +'F.';\n    \n  }\n  \n  \n \n  \n}\n\nreturn [ controlRes  , queryRes ];\n\n","outputs":2,"noerr":0,"x":1067.5001220703125,"y":231.22222900390625,"wires":[["fadb00fa.7e098","ee743fe1.573c7","fb6fd5d7.a06398","70e85c72.9a3244"],["f8f7ff3a.96f15","c6eaa4f5.e680c8"]]},{"id":"fadb00fa.7e098","type":"debug","z":"2892be88.620422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1136.1670379638672,"y":149.33334732055664,"wires":[]},{"id":"466bae64.eb30a","type":"inject","z":"2892be88.620422","name":"Kitchen Temperature","topic":"","payload":"{ \"location\" : \"kitchen\", \"targetTemp\": 74, \"currentTemp\" : 55 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1316.944580078125,"y":378.8888854980469,"wires":[["70e85c72.9a3244"]]},{"id":"6a141d0c.2a4e14","type":"inject","z":"2892be88.620422","name":"away == true","topic":"","payload":"{ \"away\" : true }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1299.0557861328125,"y":413.8888854980469,"wires":[["70e85c72.9a3244"]]},{"id":"ab592218.64e58","type":"inject","z":"2892be88.620422","name":"hvacMode - cooling","topic":"","payload":"{ \"hvacMode\" : \"cooling\" }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1319.0556640625,"y":452.8888854980469,"wires":[["70e85c72.9a3244"]]},{"id":"aaf5d591.6a2548","type":"inject","z":"2892be88.620422","name":"tell me the state of the {room}","topic":"","payload":"tell me the state of the kitchen","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":153.16668701171875,"y":561.8888931274414,"wires":[["106be4f4.5cfc4b"]]},{"id":"24e2e87a.793758","type":"comment","z":"2892be88.620422","name":"Control Test","info":"","x":105.16667175292969,"y":170.77777862548828,"wires":[]},{"id":"ab6b3963.581d58","type":"comment","z":"2892be88.620422","name":"Query Test","info":"","x":93.16667938232422,"y":523.7777814865112,"wires":[]},{"id":"60bede68.94203","type":"comment","z":"2892be88.620422","name":"Test : Thermostat","info":"","x":1307,"y":332,"wires":[]},{"id":"44b4f876.91e478","type":"websocket in","z":"2892be88.620422","name":"[ws] /chat/receive","server":"ff4675f0.228418","client":"","x":103.16667175292969,"y":121.8888931274414,"wires":[["7315250e.c2e53c"]]},{"id":"6c813a31.27d774","type":"comment","z":"2892be88.620422","name":"Chat : Command (or Query)","info":"","x":149.1666717529297,"y":76.33333778381348,"wires":[]},{"id":"9900fb66.8c0718","type":"websocket out","z":"2892be88.620422","name":"[ws]/chat/send","server":"ab9c45ff.716008","client":"","x":1808.1670379638672,"y":556.555627822876,"wires":[]},{"id":"14e1c48.52ba83c","type":"inject","z":"2892be88.620422","name":"turn {state} all thermostats","topic":"","payload":"turn on all thermostats","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":144.1666717529297,"y":442.8888854980469,"wires":[["106be4f4.5cfc4b"]]},{"id":"ce0bfd31.53896","type":"inject","z":"2892be88.620422","name":"away","topic":"","payload":"away","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":85.16667556762695,"y":479.8888931274414,"wires":[["106be4f4.5cfc4b"]]},{"id":"75a7aa3.0d38e54","type":"inject","z":"2892be88.620422","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1294.9444580078125,"y":493.8888854980469,"wires":[["fe413ad6.998e48"]]},{"id":"fe413ad6.998e48","type":"function","z":"2892be88.620422","name":"current temperature","func":"var house = flow.get('house') ||\n    {   \n       room : 'kitchen',\n       hvacmode : 'cooling', // off, heating, cooling\n       state : 'on', // false, true\n       away : false,\n       temperature : [  75,71,78 ] // kitchen, living, bedroom \n    }\n    \n\nvar kitchenTemp = Math.floor(Math.random() * 5) + house.temperature[0] - 3 ;\nvar livingTemp = Math.floor(Math.random() * 6) + house.temperature[1] - 3;\nvar bedTemp = Math.floor(Math.random() * 7) + house.temperature[2] - 3;\nvar msg = {};\nmsg.payload = {  temperature :  [kitchenTemp,livingTemp,bedTemp  ]  };\nreturn msg;","outputs":1,"noerr":0,"x":1475.9444580078125,"y":498.22222900390625,"wires":[["70e85c72.9a3244"]]},{"id":"7df6e160.46412","type":"inject","z":"2892be88.620422","name":"what is the state of the {room}?","topic":"","payload":"what is the state of the living room?","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":164.1666717529297,"y":601.8888931274414,"wires":[["106be4f4.5cfc4b"]]},{"id":"7315250e.c2e53c","type":"function","z":"2892be88.620422","name":"Converter","func":"var newMsg = JSON.parse(msg.payload);\nconsole.log(newMsg);\nreturn newMsg;","outputs":1,"noerr":0,"x":283,"y":124,"wires":[["106be4f4.5cfc4b"]]},{"id":"f8f7ff3a.96f15","type":"function","z":"2892be88.620422","name":"Query Response","func":"var new_msg = {};\nnew_msg.payload  = { timestamp : new Date(),\n     sender : 'home',\n     payload : msg.payload };\n     \nreturn new_msg;","outputs":1,"noerr":0,"x":1302,"y":597,"wires":[["9a456f56.fdbfc","9900fb66.8c0718"]]},{"id":"9a456f56.fdbfc","type":"debug","z":"2892be88.620422","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1518.000373840332,"y":655.0001640319824,"wires":[]},{"id":"33c13e32.f4ad72","type":"function","z":"2892be88.620422","name":"Unrecognized Request Response","func":"var msg = {};\nmsg.payload  = { timestamp : new Date(),\n     sender : 'home',\n     payload : \"I don't understand. Please try it again.\" };\n     \nreturn msg;\n","outputs":1,"noerr":0,"x":1166,"y":647,"wires":[["9900fb66.8c0718"]]},{"id":"ee743fe1.573c7","type":"function","z":"2892be88.620422","name":"Control Response","func":"var msg = {};\nmsg.payload  = { timestamp : new Date(),\n     sender : 'home',\n     payload : \"done.\" };\n     \nreturn msg;\n","outputs":1,"noerr":0,"x":1302,"y":550,"wires":[["9900fb66.8c0718"]]},{"id":"1ea44575.2658eb","type":"http request","z":"2892be88.620422","name":"dweet.io Control (POST)","method":"POST","ret":"obj","url":"","tls":"","x":1534,"y":187.00002670288086,"wires":[["bd681c23.4bf21"]]},{"id":"fb6fd5d7.a06398","type":"function","z":"2892be88.620422","name":"dweet POST generator","func":"msg.url='https://dweet.io:443/dweet/for/thermostat';\nreturn msg;\n","outputs":1,"noerr":0,"x":1291.000015258789,"y":191.00001335144043,"wires":[["1ea44575.2658eb"]]},{"id":"bd681c23.4bf21","type":"debug","z":"2892be88.620422","name":"dweet.io response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1759.9999885559082,"y":181.00000190734863,"wires":[]},{"id":"5301cd20.faef54","type":"http request","z":"2892be88.620422","name":"dweet.io Query (GET)","method":"GET","ret":"obj","url":"","tls":"","x":1526.9999542236328,"y":278.0000238418579,"wires":[["94c4f051.6175b"]]},{"id":"c6eaa4f5.e680c8","type":"function","z":"2892be88.620422","name":"dweet GET generator","func":"msg.url='https://dweet.io:443/get/latest/dweet/for/thermostat'\nreturn msg;\n","outputs":1,"noerr":0,"x":1297.9999923706055,"y":279.000018119812,"wires":[["5301cd20.faef54"]]},{"id":"94c4f051.6175b","type":"debug","z":"2892be88.620422","name":"dweet.io response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1747.0003356933594,"y":273.0000114440918,"wires":[]},{"id":"fd6f898.3f10678","type":"comment","z":"2892be88.620422","name":"Query for the last update. ","info":"See \"Collector\" function node for query response from ecolect","x":1298.300090789795,"y":233.53343391418457,"wires":[]},{"id":"d53abbe8.b7e5e8","type":"websocket-listener","z":"","path":"/control/publish","wholemsg":"false"},{"id":"ff4675f0.228418","type":"websocket-listener","z":"","path":"/chat/receive","wholemsg":"false"},{"id":"ab9c45ff.716008","type":"websocket-listener","z":"","path":"/chat/send","wholemsg":"false"}]